body {
    background: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}
h1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}
#break-line {
    border: #dc3444 2px solid;
}
.container {
    text-align: center;
}
#title {
    font-family: 'Montserrat', cursive;
    text-align: center;
    color: #ffffff;
    letter-spacing: 6px;
    font-size: 60px;
    
}
#topics {
    text-align: center;  
}
#search-row{
    text-align: center;
}
#search-col{
    padding: 0;
}
#add-gif{
    text-align: center;
    color: #ffffff;
    border: red 3px solid;
    background: #dc3444;
    width: 95px;
    line-height: 65px;
    
}
#search-bar {
    color: #ffffff;
    text-align: center;
    padding-right: 0;
}
#gif-input {
    border: #dc3444 3px solid;
    height: 80px;
}
#gif-area {
    text-align: center;
}
#welcome-text {
    color: #ffffff;
}
.more-gifs{
    padding: 30px;
    margin: 10px;
}
.gif-description {
    color: #ffffff;
    padding: 25px;
}
#gif-col{
    border: #ffffff 2px solid;
}
#rating-text,
#gif-title {
    color: #ffffff;
}

.gif-img {
    padding: 15px;
    text-align: center;
    background: #dc3444;
    
}
img {
    padding: 15px;
    text-align: center;
    width: 300px;
    height: 300px;
}
#intro-pic {
    width: 800px;
    height: 500px;
}
#footer {
    margin-top: 10px;
    background: #dc3444;
    color: #ffffff;
    padding: 20px;
}
