body {
 background: black;
}

#title {
    font-family: 'Lacquer', sans-serif;
    font-size: 150px;
    color: #ffffff;
}

#edition {
    font-family: 'Monofett', cursive;
    color: brown;
    font-size: 50px;
}

#description-text {
    font-size: 20px;
}

.container {
    background: black;
    text-align: center;
    width: 100%;
}

.row {
    text-align: center;
    
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}