body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    font-size: 18px;
    padding: 0;
    margin: 0;
    
}

h1{
    font-size: 25px;
}

p{
    text-align: center;
}

.bio {
    background-color: black;
    color: azure;
    text-align: center;
    height: 50px;
    padding-top: 0px;
    margin: auto;
    line-height: 150%;
}

.title {
    padding: 10px;
    margin: 0;
}


.container {
   padding: 5px;
   overflow: auto;
}

.clearfix {
    clear: both;
    
}
#about,
#contact-info,
#image{
    float: left;
    text-align: center;

}

#about {
    width: 33.3%;
    
}

#contact-info {
    width: 33.3%;
    
}

#image {
    width: 33.3%;
    
}


#Name,
#About,
#Contact {
    float: left;
    width: 33.3%;
    text-align: center;
    
}