body {
 background-image: url(../images/sports-background.jpg); 
 background-repeat: no-repeat;
 background-size: cover;
 color: #ffffff;
 font-size: 15px;
}

#title {
    font-family: 'Lacquer', sans-serif;
    font-size: 150px;
    color: #ffffff;
}

#edition {
    font-family: 'Monofett', cursive;
    color: orange;
    font-size: 50px;
}

.jumbotron {
    background: orange;
    border: aqua solid 5px;
    
}

#description-text {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
}

.container {
    background: aqua;
    text-align: center;
    width: 100%;
}

.row {
    text-align: center;
    
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    
}

#current-word-text {
    text-align: center;
    font-size: 25px;
    
}

#game-counter {
    color: aqua;
    font-weight: bolder;
    
    
}

#img-pic {
    width: 300px;
    height: 300px;
    outline: none;
}

#line-break {
    border: 1px solid aqua;
    width: 90%;
}

